.Schedule {
    background-color: #969696;
    text-align: center;
}

.Schedule ul {
    list-style: none;
    text-align: left;
}

.Schedule table {
    text-align: left;
    margin: auto;
}

.Schedule table th {
    padding-right: 40px;
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    .Schedule table th {
        margin-top: 20px;
    }

    .Schedule table td, .Schedule table th{
        display:block;
    }
}