.About {
    background-color: #C0C0C0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 50px;
}

.About .wrapper {
    position: relative;
    z-index: 0;
}

.About img {
    width: 12vw;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
