.Contact {
    background-color: #3A3A3A;
    color: white;
    text-align: center;
}

.Contact a::before {
    content: "[ ";
}

.Contact a::after {
    content: " ]";
}

.Contact a {
    margin: 0 20px;
    text-decoration: none;
    color: inherit;
}

.Contact a:hover {
    text-decoration: underline;
}