.Navbar {
    background-color: #1E1E1E;
    color: #C1C1C1;
    font-size: 36px;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

.Navbar li {
    padding: 10px 0;
}

.Navbar a {
    text-decoration: none;
    color: inherit;
}

.Navbar li:hover {
    background-color: #111;
}
