.Register {
    background-color: #B1B1B1;
}

.Register h2 {
    text-align: center;
}

.Register .split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
}

.Register .wrapper {
    position: relative;
    z-index: 0;
}

.Register img {
    width: 12vw;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.Register button {
    border: 0;
    border-radius: 0;
    color: #9A2835;
    background-color: #D7D7D7;
    font-size: 24px;
}

.text-wrapper {
    text-align: right;
}

@media screen and (max-width: 768px) {
    .Register .wrapper {
        position: static;
        text-align: center;
    }

    .Register img {
        position: static;
        width: 40vw;
    }

    .Register .split {
        display: block;
    }

    .Register .text-wrapper {
        text-align: center;
        margin-bottom: 20px;
    }
}
