.Register {
    background-color: #B1B1B1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 50px;
}

.Register .wrapper {
    position: relative;
    z-index: 0;
}

.Register img {
    width: 12vw;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.Register button {
    border: 0;
    border-radius: 0;
    color: #9A2835;
    background-color: #D7D7D7;
    font-size: 24px;
}

