.Banner {
    background-image: url("https://uclaacm.github.io/ctf-website-2019/images/mountains.png"), linear-gradient(180deg, #FFFFFF 0%, #ECECEC 61.88%, #BCBCBC 100%);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-blend-mode: luminosity;
    height: calc(100vh - 65px);
    text-align: center;
}

#title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 50vh;
}

#watermark {
    position: absolute;
    right: 0;
    bottom: calc(5vh + 65px);
    left: 0;
    margin: auto;
}

.Banner h1 {
    color: #9A2835;
    font-size: 10vw;
    margin: 0;
    letter-spacing: 20px;
}

.Banner h2 {
    color: #380303;
    font-size: 48px;
    margin: 0;
}

.Banner p {
    color: rgba(184, 184, 184, 0.5);
}

@media screen and (max-width: 768px) {
    .Banner {
        height: calc(100vh - 46px);
    }
}
